$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "../bower_components/font-awesome/fonts/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
// endbower
@import "sprites.scss";
$color-main-bg: #f5f5f5;
$color-brand: #ff5a00;
$color-gray-bg: #bfbfbf;
$color-dark-gray-bg: #555555;
$color-main-font: #050505;
$secondary-bg: #ffffff;
$alternative-gray: #ababab;
// font colors
$color-font-light: #b6b6b6;
$base-font: 'Ubuntu',
sans-serif;
@mixin font-size($sizeValue: 1.6, $line: $sizeValue * 1.5) {
    font-size: ($sizeValue * 1) + px;
    line-height: ($line * 1) + px;
    font-size: ($sizeValue / 10) + rem;
    line-height: ($line / 10) + rem;
}


/* Document level adjustments */

html {
    font-size: 62.5%;
    /* Sets up the Base 10px */
    font-size: 10px;
}

@media (max-width: 900px) {
    html {
        font-size: 70.5%;
    }
}

@media (max-width: 400px) {
    html {
        font-size: 80.5%;
    }
}

body {
    font-size: inherit;
}

h1 {
    @include font-size(19);
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

p {
    @include font-size(16);
}

a {
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: none;
}

.brand {
    color: $color-brand;
}

.color-brand-bg {
    background-color: $color-brand;
    color: #fff;
}

.color-brand {
    color: $color-brand;
}

.browsehappy {
    margin: 0.2rem 0;
    background: #ccc;
    color: #000;
    padding: 0.2rem 0;
}

body {
    padding: 0;
    background-color: $color-main-bg;
}

a,
h1,
h2,
h3,
span,
button {
    font-family: $base-font;
    //    color: $color-main-font;
}

a:hover,
a:focus {
    color: #000000;
}

.navbar-default {
    background-color: $color-main-bg;
}

.navbar-brand {
    padding: 0;
        max-width: 220px;

        
}


/* Global Styles */

// .clearfix {
//   *zoom: 1;
//   &:before,
//   &:after {
//     display: table;
//     content: "";
//     // Fixes Opera/contenteditable bug:
//     // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
//     line-height: 0;
//   }
//   &:after {
//     clear: both;
//   }
// }

/* full-size container */

.container-full {
    margin: 0 auto;
    width: 100%;
    max-width: inherit;
    padding: 0 15px 0 15px;
}

.secondary-bg {
    background-color: $secondary-bg;
}

.col{
float:left;
// width: 25%;
}

/* Header */

.header .container-full .nav {
    li {
        text-align: center;
    }
}

.navbar-header {
    display: inline;
    float: left;
}

.top-search {
    width: 37.6%;
    float: left;
    padding: 6px 0 10px 50px;
    //    margin-top: 2rem;
    .dropdown-toggle {
        background-color: #dcdcdc;
    }
    .btn {
        padding: 10px 22px;
    }
    .btn.color-brand-bg {
        font-size: 21px;
        padding: 5px 11px;
    }
    .form-control {
        padding: 20px 16px;
    }
    .dropdown-menu {
        min-width: 70px;
        width: 100%;
        border: none;
        margin: 0;
        border-radius: 0;
        font-size: 12px;
        li a {
            text-align: left;
            padding: 5px 27px 0px 11px;
        }
    }
}

.top-nav {
    @include font-size(12);
    background-color: $color-main-bg;
    li a {
        height: 29px;
        padding: 5px 29px;
        &:hover,
        &:focus {
            background-color: #AFAFAF;
        }
        &:hover {
            color: #ffffff;
        }
    }
    .nav .open > a,
    .nav .open > a:hover,
    .nav .open > a:focus {
        color: #000000;
    }
    .customer-service,
    .about {
        text-align: left !important;
        a {
            padding: 4px 36px 9px 11px;
            color: $color-main-font;
        }
    }
    .blog {
        padding: 0;
    }
    .brands {
        padding: 0;
    }
    .dropdown-menu {
        min-width: 111px;
        width: 100%;
        border: none;
        margin: 0;
        border-radius: 0;
        @include font-size(12);
        li a {
            text-align: left;
            padding: 5px 27px 0px 11px;
        }
    }
}

.graybg {
    background-color: $color-gray-bg;
    a {
        color: #ffffff;
    }
}

.darkgraybg {
    background-color: $color-dark-gray-bg;
    a {
        color: #ffffff;
    }
}

.nav.graybg {
    // width: 94px;
}

.nav.darkgraybg {
    text-align: center;
    display: block;
    width: 228px;
    li a {
        padding: 0;
        width: 228px;
        display: table-cell;
        vertical-align: middle;
    }
}

.header {
    .container-full {
        padding-right: 15px;
        padding-left: 15px;
    }
    .main-nav {
        background-color: $color-brand;
        .navbar-nav {
            display: flex;
            justify-content: space-between;
            float: none;
            li {
                width: 11%;
                border-right: 1px solid #cc4800;
                &:last-child {
                    border-right: none;
                }
            }
            a {
                text-transform: uppercase;
                color: #ffffff;
                @include font-size(16);
                line-height: 1.4rem;
            }
        }
    }
    .logo {
        float: left;
    }
    .logo-theme {
        width: 38px;
        height: 54px;
        float: left;
    }
    $icon-logo-kolify-group: ('icon-logo-kolify', $logo-kolify, $logo-kolify-2x, );
    .icon-logo-kolify {
        @include retina-sprite($icon-logo-kolify-group);
    }
}

.login {
    padding-right: 3.3rem;
    float: right;
}

.cart {
    padding-right: 1.3rem;
    float: right;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.member-box {
    text-align: right;
    button {
        font-weight: bold;
        border-radius: 5px;
        display: inline;
        margin-right: 14px;
        margin-top: 11px;
        padding: 3px 17px;
    }
    .btn-login {}
}

.top-middle {
    background-color: $secondary-bg;
    padding: 1.6rem 0 0.5rem 0;
    // margin-left: 0;
    // margin-right:0;
    .cart {
        .icon-ui-kolify-cart-items {
            position: relative;
        }
        span.cart-item-count {
            color: $color-brand;
            position: absolute;
            right: 28px;
            top: -14px;
        }
        a {
            text-align: center;
            @include font-size(23);
            line-height: 2.3rem;
            color: $color-brand;
            font-weight: bold;
            margin: 8px 0 0 0;
        }
    }
}

button.register {
    color: $color-brand;
}

button.facebook-connect {
    background-color: #637ab0;
    color: #ffffff;
    // display: table;
    padding: 0px 11px 0px 6px;
    i {
        @include font-size(16);
        display: table-cell;
        line-height: 2.5rem;
        vertical-align: middle;
        padding-right: 5px;
    }
    span {
        height: 10px;
        display: table-cell;
        vertical-align: middle;
    }
}


/* Footer */

.footer {
    padding-top: 19px;
    color: #777;
    background-color: $secondary-bg;
    margin-top: 3rem;
    border-top: 1px solid #e5e5e5;
    overflow: hidden;
    .social-links div {
        width: 23px;
        height: 23px;
        display: inline-block;
        vertical-align: middle;
    }
    .title {
        font-weight: bold;
        color: $color-dark-gray-bg;
    }
    .footer-container {
        padding: 1.4rem 0rem 0px 2.4rem;
        ul {
            padding: 12px 0px 0 0;
            font-size: 1.4rem;
            color: $color-dark-gray-bg;
        }
        li {
            padding: 0.2rem 0 0 0;
        }
    }
    .brand {
        font-size: 1.2rem;
    }
    .footer-container.social {
        ul {
            list-style: none;
        }
        span {
            padding-left: 1rem;
        }
    }
    .footer-container.applications {
        p {
            font-size: 1.4rem;
            color: $color-dark-gray-bg;
        }
        a {
            // min-width: 255px;
            font-size: 1.4rem;
            margin-bottom: 1rem;
        }
        .fa,
        span {
            display: inline-block;
            vertical-align: middle;
        }
        span {
            padding-left: 1rem;
            white-space: normal;
            text-align: left;
            padding-right: 1em;
        }
        .apple {
            span {
                padding-right: 2.6rem;
            }
        }
    }
    .footer-container.secure {
        span {
            font-size: 1.6rem;
        }
        img {
            display: inline;
        }
    }
}

.right-line {
    // border-right:1px solid #e5e5e5;
}

.footer-double {
    border-bottom: 1px solid #e5e5e5;
}

.app-col:before {
    border-left: 1px solid #e5e5e5;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 110%;
    /* padding-top: 28px; */
    margin-top: -19px;
}

.right-line:after {
    border-right: 1px solid #e5e5e5;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 200%;
    margin-top: -20px;
}

.end-matter {
    p {
        font-size: 1.4rem;
        display: inline;
        vertical-align: bottom;
        margin: 0;
        line-height: 34px;
        // padding-left:2rem;
    }
    img {
        padding-right: 1rem;
        display: inline;
        vertical-align: bottom;
        // padding-left: 2rem;
    }
    .col {
        padding: 2rem 0 2rem 2rem;
    }
    .cardlist {
        text-align: right;
    }
}

.container-narrow > hr {
    margin: 30px 0;
}


/* Main */

.main-content {
    padding-right: 15px;
    padding-left: 15px;
    // overflow: hidden;
}



//
//.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
//	color: #555555;
//	background-color: #fff;
//	border: 1px solid #ddd;
//	border-bottom-color: transparent;
//	cursor: default;
//}



/* don't forget about the vendor-prefixes! */

.row-slide {
    overflow: hidden;
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .icon-prev {
        margin-left: -45%;
        font-size: 20px;
    }
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-next {
        margin-right: -45%;
        font-size: 20px;
    }
}

.carousel-right {
    // margin: 1rem 0 1rem 0;
    .col {
        margin: 0 0 1rem 0;
        width: 100%;
        text-align: center;
        a{ width:100%}
        img {
            display: inline;
            width: 100%;    
            background-color: #ffffff;
        }
    }
}

//homepage
.donate {
    padding-bottom: 14px;
    @include font-size(16);
    line-height: 1rem;
    p {
        margin: 0;
    }
}

.pickup {
    padding-left: 0;
    padding-right: 0;
    .icon-ui-pickup {
        margin: 22px 0px 5px 35px;
    }
    p {
        padding: 0px 0px 0px 18px;
    }
}

.donate-inner {
    div.arrow {
        position: absolute;
        bottom: -13%;
        left: -8%;
    }
    .icon-ui-donate {
        margin: 12px 0px 0px 0px;
    }
    .exp {
        float: right;
        padding: 13% 13% 0 0;
    }
    &:after {
        content: "";
        position: absolute;
        bottom: -19px;
        left: -7px;
        right: 11px;
        height: 0;
        border-top: 1px solid $color-gray-bg;
        z-index: 5;
    }
}

.earn-inner {
    div.arrow {
        position: absolute;
        top: 36%;
        left: -8%;
    }
    .earn-img {
        margin: 15% 0 1% 5%;
    }
}

.exp {
    float: right;
    padding: 23% 19% 0 0;
}

.criteria {
    margin-top: 15px;
    height: 170px;
    background-image: url("../images/global/items-to-kolify.png");
    background-repeat: no-repeat;
    background-position: 5% 38%;
    background-color: #fdccb1;
    .inner {
        margin: 10% 0% 0 48%;
    }
    p {
        padding: 0 0 0 0;
        // margin:0 0 0 0;
        @include font-size(16);
        line-height: 1.6rem;
    }
    a {
        background-color: $color-dark-gray-bg;
        color: #FFFFFF;
        padding: 5px 12px;
    }
}

.icon-image {
    display: inline-block;
    vertical-align: middle;
}

$icon-ui-kolify-add-negative-group: ('icon-ui-kolify-add-negative',
$ui-kolify-add-negative,
$ui-kolify-add-negative-2x,
);
.icon-ui-kolify-add-negative {
    display: inline-block;
    vertical-align: middle;
    margin: -5px 3px 0px 0;
    @include retina-sprite($icon-ui-kolify-add-negative-group);
}

$icon-ui-right-arrow-group: ('icon-ui-right-arrow',
$ui-right-arrow,
$ui-right-arrow-2x,
);
.icon-ui-right-arrow {
    margin-left: 17px;
    @include retina-sprite($icon-ui-right-arrow-group);
}

$icon-icon-facebook-group: ('icon-facebook',
$icon-facebook,
$icon-facebook-2x,
);
.icon-icon-facebook {
    @include retina-sprite($icon-icon-facebook-group);
}

$icon-icon-twitter-group: ('icon-twitter',
$icon-twitter,
$icon-twitter-2x,
);
.icon-icon-twitter {
    @include retina-sprite($icon-icon-twitter-group);
}

$icon-icon-pinterest-group: ('icon-pinterest',
$icon-pinterest,
$icon-pinterest-2x,
);
.icon-icon-pinterest {
    @include retina-sprite($icon-icon-pinterest-group);
}

$icon-icon-instagram-group: ('icon-instagram',
$icon-instagram,
$icon-instagram-2x,
);
.icon-icon-instagram {
    @include retina-sprite($icon-icon-instagram-group);
}

$icon-icon-google-plus-group: ('icon-google-plus',
$icon-google-plus,
$icon-google-plus-2x,
);
.icon-icon-google-plus {
    @include retina-sprite($icon-icon-google-plus-group);
}

$icon-icon-youtube-group: ('icon-youtube',
$icon-youtube,
$icon-youtube-2x,
);
.icon-icon-youtube {
    @include retina-sprite($icon-icon-youtube-group);
}

$icon-icon-linkedin-group: ('icon-linkedin',
$icon-linkedin,
$icon-linkedin-2x,
);
.icon-icon-linkedin {
    @include retina-sprite($icon-icon-linkedin-group);
}

$icon-ui-kolify-cart-items-group: ('icon-ui-kolify-cart-items',
$ui-kolify-cart-items,
$ui-kolify-cart-items-2x,
);
.icon-ui-kolify-cart-items {
    @include retina-sprite($icon-ui-kolify-cart-items-group);
}

$icon-ui-pickup-group: ('icon-ui-pickup',
$ui-pickup,
$ui-pickup-2x,
);
.icon-ui-pickup {
    @include retina-sprite($icon-ui-pickup-group);
}

$icon-ui-arrow-top-right-group: ('icon-ui-arrow-top-right',
$ui-arrow-top-right,
$ui-arrow-top-right-2x,
);
.icon-ui-arrow-top-right {
    @include retina-sprite($icon-ui-arrow-top-right-group);
}

$icon-ui-donate: ('icon-ui-donate',
$ui-donate,
$ui-donate-2x,
);
.icon-ui-donate {
    @include retina-sprite($ui-donate-group);
}

$icon-ui-earn: ('icon-ui-earn',
$ui-earn,
$ui-earn-2x,
);
.icon-ui-earn {
    @include retina-sprite($ui-earn-group);
}

$icon-ui-arrow-bottom-right: ('icon-ui-arrow-bottom-right',
$ui-arrow-bottom-right,
$ui-arrow-bottom-right-2x,
);
.icon-ui-arrow-bottom-right {
    @include retina-sprite($ui-arrow-bottom-right-group);
}

$icon-ui-kolify-add: ('icon-ui-kolify-add',
$ui-kolify-add,
$ui-kolify-add-2x,
);
.icon-ui-kolify-add {
    @include retina-sprite($ui-kolify-add-group);
}

$icon-ui-kolify-cart-items-small: ('icon-ui-kolify-cart-items-small',
$ui-kolify-cart-items-small,
$ui-kolify-cart-items-small-2x,
);
.icon-ui-kolify-cart-items-small {
    @include retina-sprite($ui-kolify-cart-items-small-group);
}


$icon-ui-kolify-cart-items-smaller: ('icon-ui-kolify-cart-items-smaller',
$ui-kolify-cart-items-smaller,
$ui-kolify-cart-items-smaller-2x,
);
.icon-ui-kolify-cart-items-small {
    @include retina-sprite($ui-kolify-cart-items-smaller-group);
}


// HOMEPAGE

.product-listing {
    .product-image {
        width: 100%;
        height: 100%;
    }
    .bottom-content {
        display: block;
        float: left;
    }
    .nav-tabs li:nth-last-child(1) {
        margin-right: 0;
    }
    .nav-tabs li {
    width: 33.2%;
    margin-right: 0.2%;
    }
    .nav-tabs {
        background-color: $color-main-bg;
    }
    .nav-tabs li a {
        color: #ffffff;
        background-color: $color-gray-bg;
        border: none;
        font-family: $base-font;
        margin-right:0;
        border-radius: inherit;
        @include font-size(24);
        line-height: 4.4rem;
        &:focus,
        :hover {
            border: none;
        }
        i {
            padding-right: 1.5rem;
            padding-left: 0.6rem;
            &:before {
                font-family: fontAwesome;
                content: "\f0da";
            }
        }
    }
    .nav-tabs li.active a {
        color: $color-dark-gray-bg;
        background-color: #ffffff;
        border: none;
        &:focus,
        :hover {
            border: none;
        }
        i {
            padding-right: 0.8rem;
            padding-left:0;
            &:before {
                font-family: fontAwesome;
                content: "\f0d7";
            }
        }
    }
}



.product-listing {
    ul>li>a {
        font-weight: bold;
        @include font-size(30);
        text-align: left;
        // padding-right:10%;
    }
    .price {
        color: $color-brand;
        @include font-size(26);
        font-weight: bold;
        padding: 20px 0px 0px 25px;
        display: inline-block;
        margin-bottom: 0;
        line-height: 1.6rem;
        span {
            color: $color-brand;
            @include font-size(16);
        }
    }
    .brand {
        color: $color-font-light;
        @include font-size(12);
        font-weight: bold;
        padding: 2px 0px 0px 25px;
        display: block;
        margin-bottom: 0;
              text-transform: capitalize;
    }
    .product-title {
        color: $color-dark-gray-bg;
         text-transform: capitalize;
        height: 30px;
        @include font-size(16);
        margin-bottom: 0;
        padding: 2px 20px 0px 25px;
        display: block;
        line-height: 1.6rem;
    }

         
}



.row-container {
    padding-top: 1%;
}

.product-container {
    // max-width: 230px;
    border: 1px solid $color-main-bg;
    background-color: #ffffff;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 1rem 0 0 0;
}

.home-featured {
    background-color: $secondary-bg;
}

.row-slide {
   	margin-bottom: 13px;
}

.row-featured {
    margin-bottom: 13px;
}

.btn-add-to-kolify {
    padding: 17px 0 10px 21px;
    span {
        color: $color-brand;
        @include font-size(13);
        line-height: 2.8rem;
    }
    span.icon-ui-kolify-add {
        margin: -8px 7px 0 0;
    }
}

.pagination-centered {
//    margin-top: 0;
    text-align: center;
    a {
        color: #818181;
    }
    .pagination{
    margin: 16px 0;
    }
    //override bootstrap pagination styles
    .pagination > .active > a,
    .pagination > .active > a:hover,
    .pagination > .active > a:focus,
    .pagination > .active > span,
    .pagination > .active > span:hover,
    .pagination > .active > span:focus {
        color: #818181;
        background-color: #818181;
        border: none;
    }
    .pagination > li > a,
    .pagination > li > span {
        font-size: 1rem;
        position: relative;
        float: left;
        padding: 1px 3px;
        line-height: 1rem;
        text-decoration: none;
        color: #e7e7e7;
        background-color: #e7e7e7;
        border: none;
        margin-left: 10px;
    }
    .pagination > li:first-child > a,
    .pagination > li:first-child > span,
    {
        margin-left: 0;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
    .pagination > li:last-child > a,
    .pagination > li:last-child > span {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        margin-right: 0;
    }
}

.how-it-works {
    
    .col{
    width: 20%;
    }
    overflow: hidden;
    text-align: center;
        padding: 2.3rem 0 2.2rem 0;
    p {
        color: $color-dark-gray-bg;
        @include font-size(24);

	line-height: 3.2rem;
        margin-bottom:0;
    }
    p.sub {
        @include font-size(18);
    }
    .hiw-container {
        display: block;
        float: left;
        width: 80%;
        padding-left: 28px;
        img {
            display: inline-block;
            	margin-bottom: 10px;
        }
    }
    hr{
    margin-top: 0px;
	margin-bottom: 6px;
    border-top: 1px solid $alternative-gray;
    }
    .hiw-container.second {
        width: 20%;
        padding-top: 10%;
    }
    .col-md-2 {
        width: 20%;
        padding: 0;
        margin: 0;
    }
}

.categories {
    .col-md-4,
    .col-md-3,
    .col-md-6 {
       margin-bottom: 3rem;
    }
    .col-md-3 {
        .img-box {
            // min-height: 302px;
        }
    }
    .col-md-6 {
        .img-box .inner {
            padding-bottom: 30%;
        }
    }
    .img-box {
        //     background: url('../images/home/u-homebox-yilbasi.png');
        //     // min-height: 512px;
        //     width: 100%;
        //   background-size: cover;
        //   -moz-background-size: cover;  /* Firefox 3.6 */
        //   background-position: center;  /* Internet Explorer 7/8 */
        // height: 390px;
        display: inline-block;
        width: 100%;
        font-size: 0;
        line-height: 0;
        vertical-align: middle;
        background-size: 100%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        .inner {
            padding-bottom: 62%;
            /* height/width of image */
            display: block;
            height: 0;
        }
        p {
            @include font-size(22);
            padding: 5% 0 0 2rem;
        }
    }

     .lightning,.outdoor,.dresses,.books{
        padding-bottom: 25%;    

     }

    .christmast {
        background-image: url('../images/home/ui-homebox-yilbasi.png');
    }
    .toys {
        background-image: url('../images/home/ui-homebox-bebek.png');
    }
    .lightning {
        background-image: url('../images/home/ui-homebox-lightning.png');
    }
    .books {
        background-image: url('../images/home/ui-homebox-books.png');
    }
    .outdoor {
        background-image: url('../images/home/ui-homebox-outdoor.png');
    }
    .dresses {
        background-image: url('../images/home/ui-homebox-dresses.png');
    }
    .kitchen {
        background-image: url('../images/home/ui-homebox-kitchen.png');
    }
    .scarfs {
        background-image: url('../images/home/ui-homebox-scarfs.png');
    }
    .bags {
        background-image: url('../images/home/ui-homebox-bags.png');
    }
}

.btn-start-shopping {
    padding: 10px 0 10px 21px;
    line-height: 1rem;
    span {
        color: #b0adb1;
        @include font-size(12);
        &:hover {
            color: $color-brand;
        }
    }
    // span:hover,span:focus{
    //     color:red;
    // }
    span.icon-ui-kolify-cart-items-small {
        margin: -9px 7px 0 0;
    }
}

.brand-showcase {
    margin-top: 10px;
    background-color: $secondary-bg;
    padding: 25px 0 25px 0;
    span {
        color: $color-brand;
        font-size: 2.2rem;
        line-height: 8rem;
        padding-left: 1rem;
        a {}
    }

    .col{

        width: 9.8%;
        margin-right: 1%;
       
    margin-top: 1%;
    }

    img {
        border: 1px solid $color-main-bg;
    }
}

.brand-image {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.brand-carousel-pager {
    // position: absolute;
    // width: 100%;
    .previous {
        left: 14%;
            bottom: 1.9%;
        position: absolute;
        a:before {
            font-family: fontAwesome;
            content: '\f053';
        }
    }
    .next {
        right: 1%;
            bottom: 1.9%;
        position: absolute;
        a:before {
            font-family: fontAwesome;
            content: '\f054';
        }
    }
}

// custom pager style
.pager {

    margin:0;
}

.pager li > a,
.pager li > span {
    font-size: 3.1rem;
    font-weight: bold;
    border: none;
    padding: 0;
    max-width: 2.2rem;
    overflow: hidden;
    white-space: nowrap;
}

.pager li > a {
    color: $color-dark-gray-bg;
}

.pager li > a:hover,
.pager li > a:focus {
    text-decoration: none;
    background-color: transparent;
    color: $color-brand;
}

//bootstra column-height-fix
// .row-container{
//     overflow: hidden; 
// }
// .row-container [class*="col-"]{
//     margin-bottom: -99999px;
//     padding-bottom: 99999px;
// }
//slider customazation
.carousel-indicators li {
    border-radius: 0;
    background-color: #000000;
    border: none;
    margin-right: 13px;
}

.carousel-indicators {
    bottom: 7px;
    left: 75%;
    width: 100%;
    margin-left: -30%;
}

.carousel-indicators .active {
    background-color: $color-brand;
    margin-right: 13px;
}

// .carousel-indicators {
//     background-color: #000000;
// }

/* app css stylesheet */

.product-images {
    background-color: white;
    overflow: hidden;
    position: relative;
    float: left;
}

.products {
    list-style: none;
}

.thumb {
    float: left;
    width: 100%;
    /* height: 100%; */
    /* overflow: hidden; */
    padding: 0;
    margin: 0;
    // margin: -0.5rem 1rem 1.5rem 0;
    // margin-bottom: 4px;
    // height: 100px;
    // width: 100px;
}

.products li {
    clear: both;
    height: 115px;
    padding-top: 15px;
}


/** Detail View **/

img.product {
    float: left;
    margin-right: 3rem;
    margin-bottom: 2rem;
    background-color: white;
    padding: 2rem;
    height: 400px;
    width: 400px;
    display: none;
}

img.product:first-child {
    display: block;
}

ul.product-thumbs {
    margin: 0;
    list-style: none;
}

ul.product-thumbs li {
    border: 1px solid black;
    display: inline-block;
    margin: 1.6rem;
    background-color: white;
}

ul.product-thumbs img {
    height: 100px;
    width: 100px;
    padding: 1.6rem;
}

ul.product-thumbs img:hover {
    cursor: pointer;
}

ul.specs {
    clear: both;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.specs > li {
    display: inline-block;
    width: 200px;
    vertical-align: top;
}

ul.specs > li > span {
    font-weight: bold;
    @include font-size(12);
}

ul.specs dt {
    font-weight: bold;
}

h1 {
    border-bottom: 1px solid gray;
}

//animations
.view-container {
    position: relative;
}

.view-frame.ng-enter,
.view-frame.ng-leave {
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.view-frame.ng-enter {
    -webkit-animation: 0.5s fade-in;
    -moz-animation: 0.5s fade-in;
    -o-animation: 0.5s fade-in;
    animation: 0.5s fade-in;
    z-index: 100;
}

.view-frame.ng-leave {
    -webkit-animation: 0.5s fade-out;
    -moz-animation: 0.5s fade-out;
    -o-animation: 0.5s fade-out;
    animation: 0.5s fade-out;
    z-index: 99;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-moz-keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-webkit-keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.btn-add-to-cart{
    cursor: pointer;
}