/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {


}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

.how-it-works .col-md-2 {
    width: 100%;

}

.how-it-works .hiw-container {
    width: 100%;
	
}



.how-it-works .hiw-container.second {
    width: 100%;
    padding-top: 0;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}


.brand-carousel-pager .previous {
 	left: 5%;
      top: 8%;

}

.brand-carousel-pager .next {
     right: 5%;
        top: 8%;
}
.brand-showcase  {
	position: relative;
	span{
   line-height: 4rem;
       padding-left: 0rem;
	}

    .title{
    	    text-align: center;
    	        margin-bottom: 20px;
    	      
    }

}


.end-matter .cardlist {
    text-align: left;
}


.footer-double {
    border:none;
}
.footer-container.secure{
	margin-bottom:4rem;
}


}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
}
