/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
    .how-it-works .col {
        width: 100%;
    }
    hr{
    	width: 30%;
    }
    .how-it-works .hiw-container {
        width: 100%;
        padding-left:0;
    }
    .how-it-works .hiw-container.second {
        width: 100%;
        padding-top: 0;
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    .brand-carousel-pager .previous {
        left: 5%;
        top: 8%;
    }
    .brand-carousel-pager .next {
        right: 5%;
        top: 8%;
    }
    .brand-showcase {
        position: relative;
        span {
            line-height: 4rem;
            padding-left: 0rem;
        }
        .title {
            text-align: center;
            margin-bottom: 20px;
        }
    }
    .end-matter .cardlist {
        text-align: left;
    }
    .footer-double {
        border: none;
    }
    .footer-container.secure {
        margin-bottom: 4rem;
    }
    .donate {
        margin-top: 2rem;
        .earn-inner {
            .arrow {
                position: absolute;
                top: 70%;
                left: -24%;
                -ms-transform: rotate(-29deg);
                -webkit-transform: rotate(-29deg);
                transform: rotate(-29deg);
            }
            .earn-img {
                margin: 11% 0 1% 0%;
                float: none;
            }
            .exp {
                float: none;
                padding: 15% 0% 0 0;
            }
        }
        .donate-inner {
            .arrow {
                position: absolute;
                top: 70%;
                left: -24%;
                -ms-transform: rotate(31deg);
                -webkit-transform: rotate(31deg);
                transform: rotate(31deg);
            }
            .donate-img {
                margin: 11% 0 1% 0%;
                float: none;
            }
            .exp {
                float: none;
                padding: 15% 0% 0 0;
            }
            &:after {
                border-top: none;
            }
            .icon-ui-donate {
                margin: 12% 0 0 0;
            }
        }
    }
    .criteria .inner {
        margin: 5rem 0% 0 48%;
        display: block;
    }
    .navbar-header {
        padding: 1rem 0 1rem 0;
    }
    .member-box {
        text-align: center;
    }
    .top-nav {
        font-size: 1rem;
        .darkgraybg {
            li a {
                display: block;
                text-align: center;
                width: 100%;
                padding: 0.3rem;
            }
        }
    }
    .product-showcase {
        .nav-tabs li a {
            font-size: 1.9rem;
        }
    }
    
    
}


/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    .header .main-nav .navbar-nav {
        /* display: flex; */
        display: block;
        li {
            width: 100%;
            border: none;
        }
    }
    .navbar-collapse {
        border: none;
    }
    .top-nav {
        ul {
            display: none;
        }
        .darkgraybg {
            display: block;
            width: 100%;
            text-align: center;
        }
    }
    .product-showcase {
        
        .nav-tabs li {
        width: 100%;
        margin: 0;
        }
//        .nav-tabs li a {
//            font-size: 1.2rem;
//        }
    }
    .top-middle {
        text-align: center;
    }
    .navbar-header {
        float: none;
    }
    .navbar-brand {
        float: none;
        display: inline-block;
    }
    .top-search {
        padding: 10px 0 10px 0px;
        width: 100%;
    }
    .cart {
        float: none;
        padding: 0;
    }
    .login {
        float: none;
        padding: 0;
    }
    
    
//    .product-showcase {
//        .nav-tabs li a{
//            font-size:1rem !important;
//        }
//    }
    
    
    
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {}


/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {}


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {}


/* Home-custom-fix */

@media only screen and (min-width: 992px) and (max-width: 1530px) {
    // .criteria .inner {
    //     margin: 5rem 0% 0 48%;
    //     display: block;
    // }
}

@media (max-width: 1200px) {
    .carousel-right {
        .col {
            margin: 2rem 0 1rem 0;
        }
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
.categories .img-box p {
    font-size: 2.2rem;
    line-height: 3.3rem;
}


}

@media only screen and (min-width: 768px) and (max-width: 1010px) {
    .top-search {
        width: 50%;
    }
    .top-middle {
        text-align: center;
    }
    .top-search {
        float: right;
    }
    .header {
        //        .cart,
        .login {
            clear: both;
        }
    }
}